.footer {
  background-color: rgb(19, 18, 18);
  text-align: center;
  padding: 80px;
}

.footer a {
  font-size: 40px;
  color: white;
  padding: 8px;
}

.footer p {
  color: white;
  opacity: 0.8;
}

.footer a:hover {
  color: brown;
  transition: 0.4s;
}
